@charset "utf-8";
/*-- ------ Define style ------ --*/
body{ margin:0px; font-family:"宋体"; font-size:12px; font-family:Arial; color:#333333; background-color:#FFFFFF; line-height:20px; }
form{ margin:0px; }
img{ border:0px; margin:0px; }
div{}
ul{ padding:0px; margin:0px; }
li{ list-style-type:none; }
/* a{ white-space:nowrap; } */
/*-- ------ Div style ------ --*/
.OutFrameA{ width:980px; margin:0px auto 0px auto; }
.DLeft{ float:left; }
.DRight{ float:right; }
.DClear{ height:0px; clear:both; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; font-size:0px; line-height:0px; background-color:#FF0000; overflow:hidden; }
.DClear0{ clear:both; }
.DClearEnd{ clear:both; margin-bottom:12px; }
.DNormal{}
.DHidden{ width:1px; height:1px; left:0px; top:0px; overflow:hidden; display:none; position:absolute; visibility:hidden; }
.DHiddenL{ width:1px; height:1px; left:0px; top:0px; overflow:hidden; position:absolute; }
.DFloat{ position:absolute; }
.DError{ margin:2px 0px 2px 0px; padding:4px 4px 4px 4px; color:#CC0000; background-color:#FFFFCC; border:1px #FFDDDD solid; }
.FullTable{ width:100%; }
.Loading{ height:140px; background-image:url(../netsImg/Common/loading_1.gif); background-repeat:no-repeat; background-position:center center; }
.DLoading{ height:140px; background-image:url(../netsImg/Common/loading_1.gif); background-repeat:no-repeat; background-position:center center; }
.OpacityHalf{ opacity:0.5; *filter:alpha(opacity=50); }

.DHiddenAn{ visibility:hidden;
	animation: DHiddenAn_an 0.2s;
	-moz-animation: DHiddenAn_an 0.2s; /* Firefox */
	-webkit-animation: DHiddenAn_an 0.2s; /* Safari 和 Chrome */
	-o-animation: DHiddenAn_an 0.2s; /* Opera */
	}
@keyframes DHiddenAn_an{
from{ opacity:0.6; *filter:alpha(opacity=60); visibility:visible; }
to{ opacity:0; *filter:alpha(opacity=0); visibility:hidden; }
}
/* Firefox */
@-moz-keyframes DHiddenAn_an{
from{ opacity:0.6; *filter:alpha(opacity=60); visibility:visible; }
to{ opacity:0; *filter:alpha(opacity=0); visibility:hidden; }
}
/* Safari 和 Chrome */
@-webkit-keyframes DHiddenAn_an{
from{ opacity:0.6; *filter:alpha(opacity=60); visibility:visible; }
to{ opacity:0; *filter:alpha(opacity=0); visibility:hidden; }
}
/* Opera */
@-o-keyframes DHiddenAn_an{
from{ opacity:0.6; *filter:alpha(opacity=60); visibility:visible; }
to{ opacity:0; *filter:alpha(opacity=0); visibility:hidden; }
}


.Hand1{ cursor:pointer; }
.Gray1{ filter:Gray; }
.FNowrap{ white-space:nowrap; }
/*-- ------ Line style ------ --*/
.Link1:link{ text-decoration:none; }
.Link1:visited{ text-decoration:none; }
.Link1:active{ text-decoration:none; }
.Link1:Hover{ color:#D90134; text-decoration:underline; }

.Link2:link{ text-decoration:none; }
.Link2:visited{ text-decoration:none; }
.Link2:active{ text-decoration:none; }
.Link2:Hover{ text-decoration:underline; }

.Link3:link{ text-decoration:underline; }
.Link3:visited{ text-decoration:underline; }
.Link3:active{ text-decoration:underline; }
.Link3:Hover{ text-decoration:none; }

.Link4:link{ text-decoration:underline; }
.Link4:visited{ text-decoration:underline; }
.Link4:active{ text-decoration:underline; }
.Link4:Hover{ color:#D90134; text-decoration:underline; }

.Link5:link{ text-decoration:none; }
.Link5:visited{ text-decoration:none; }
.Link5:active{ text-decoration:none; }
.Link5:Hover{ color:#D90134;text-decoration:none; }

.Link6:link{ text-decoration:none; }
.Link6:visited{ text-decoration:none; }
.Link6:active{ text-decoration:none; }
.Link6:Hover{ text-decoration:none; }
/*-- ------ Font style ------ --*/
.FSize0{ font-size:16px; }
.FSize1{ font-size:14px; }
.FSize2{ font-size:13px; }
.FSize3{ font-size:12px; }
.FSize4{ font-size:11px; }
.FSize5{ font-size:10px; }
.FStrong{ font-weight:700; }
.FHot{ margin:0px 4px 0px 4px; }
.FShadow{ filter:progid:DXImageTransform.Microsoft.Shadow(color=#6FBE2E,direction=145,strength=4); }

.FBlack1{color:#000000;}
.FBlack2{color:#333333;}
.FBlack3{color:#666666;}
.FBlack4{color:#999999;}
.FBlack5{color:#AAAAAA;}
.FBlack6{color:#CCCCCC;}
.FWhite1{color:#FFFFFF;}
.FGreen1{color:#6D9500;}
.FGreen2{color:#006600;}
.FGreen3{color:#547B3C;}
.FBlue1{color:#016AEA;}
.FBlue2{color:#00376F;}
.FBlue3{color:#0033FF;}
.FBlue4{color:#3D5998;}
.FBlue5{color:#004488;}
.FBlue6{color:#0353CE;}
.FRed1{color:#FF0000;}
.FRed2{color:#FB6400;}
.FRed3{color:#CC0000;}
.FRed4{color:#996600;}
.FYellow1{background-color:#FFFF00; color:#EE6600;}
.FYellow2{ color:#FFDD00;}

.FFamily1{ font-family:"Arial"; }
.FFamily2{ font-family:"微软雅黑","宋体"; }
.FFamily3{ font-family:"宋体"; }
.FFamily4{ font-family:"黑体"; }

.tile_Box{ line-height:28px; }
.tile_Red{ padding:6px 6px 6px 6px; background-color:#FF3300; color:#FFFFFF; }
.tile_Yellow{ padding:6px 6px 6px 6px; background-color:#FFFF99; color:#CC0000; }
.tile_Blue{ padding:6px 6px 6px 6px; background-color:#C4E0FF; color:#003399; }
.tile_Green{ padding:6px 6px 6px 6px; background-color:#006600; color:#FFFFFF; }
.tile_Glay{ padding:6px 6px 6px 6px; background-color:#999999; color:#FFFFFF; }

.FHead{ margin:auto auto auto 24px; }
.FHead0{ margin:auto auto auto 6px; }
.FPoint0{ padding:0px 0px 0px 8px; background-image:url(../../../Ui/Common/Img/Common/icon_7.jpg); background-repeat:no-repeat; background-position:0px 5px; *background-position:0px 4px!important; *background-position:0px 4px; }
.FImg{ margin:auto 4px auto 0px; vertical-align:text-top; *vertical-align:middle!important; *vertical-align:top; }
.FImg0{ margin:auto 4px auto 4px; vertical-align:text-top; *vertical-align:middle!important; *vertical-align:top; }
.TextLeft{ text-align:left; }
.TextCenter{ text-align:center; }
.TextRight{ text-align:right; }
.DivCenter{ margin-left:auto; margin-right:auto; }


/*
@font-face {
	font-family:微软雅黑;
	src:url('微软雅黑.eot'); /* IE9 Compat Modes */
	src:url('微软雅黑.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('微软雅黑.woff') format('woff'), /* Modern Browsers */
	url('微软雅黑.ttf') format('truetype'), /* Safari, Android, iOS */
	url('微软雅黑.svg#微软雅黑') format('svg'); /* Legacy iOS */
}
*/
backgroundstyle{

	background-image: -moz-linear-gradient(top, #10ACFF, #008DE5); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #10ACFF), color-stop(1, #008DE5)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#10ACFF', endColorstr='#008DE5', GradientType='0'); /* IE */

}



/*-- ------ Version ------ --*/
.Version{}
.Version0{}
.Version1{ width:360px; margin:0px auto 0px auto; }
.Version2{ margin:0px 0px 12px 0px; border:1px #D9D9D9 solid; background-color:#E3E3E3; text-align:center; font-size:14px; line-height:54px; }
.Version3{ text-align:center; font-size:14px; color:#999999; }
.Version1{}

/*-- ------ Logo ------ --*/
.LogEnd{ font-family:"Arial"; }
/*-- #Superior --*/
.Logo_A{ color:#CCCCCC; font-size:10px; font-family:"Arial"; } .Logo_A_0{ color:#58A6CD; font-weight:700; } .Logo_A_1{ color:#14868D; } .Logo_A_2{ color:#275CAA; }
/*-- #Power --*/
.Logo_B{ color:#CCCCCC; font-size:10px; font-family:"Arial"; } .Logo_B_0{ color:#F58220; font-weight:700; } .Logo_B_1{ color:#DA517F; } .Logo_B_2{ color:#D8281E; }
/*-- #Humility --*/
.Logo_C{ color:#CCCCCC; font-size:10px; font-family:"Arial"; } .Logo_C_0{ color:#CBB294; font-weight:700; } .Logo_C_1{ color:#B4BFA3; } .Logo_C_2{ color:#8D9C87; }
/*-- #Tolerance --*/
.Logo_D{ color:#CCCCCC; font-size:10px; font-family:"Arial"; } .Logo_D_0{ color:#AD9F94; font-weight:700; } .Logo_D_1{ color:#5F6F66; } .Logo_D_2{ color:#6C627A; }
/*-- ------ Special div style ------ --*/
.OutFrame{ width:100%; clear:both; margin:auto auto auto auto; }
.Pagebutton{ line-height:32px; text-align:center; }
/* Loading */
.LoadingBox_0{ width:120px; margin:3px auto 3px auto; padding:4px 4px 4px 24px; background-image:url(../../../Ui/Common/Img/Common/loading_1.gif); background-repeat:no-repeat; background-position:0px 5px; color:#999999; }
/* Tip */
.tip_Loading{ padding:3px 3px 3px 3px; color:#FFF4DF; }
.tip_Error{}
.tip_Success{}
/* Message */
.Message{}
.Message_0{}
.Message_1{ width:80%; margin:0px auto 0px auto; background-color:#FFFFFF; border:1px #3C5A9A solid; }
.Message_2{ height:58px; border-bottom:1px #DDE4F2 solid; }
.Message_3{ float:left; margin:0px 12px 0px 12px; }
.Message_4{ float:left; margin:0px; padding:0px; color:#3B5999; line-height:56px; font-weight:100; font-family:"微软雅黑", "宋体"; }
.Message_4 h1{ margin:0px; padding:0px; font-size:24px; }
.Message_5{ width:100%; }
.Message_6{ height:120px; padding:12px 12px 12px 12px; color:#234282; line-height:24px; vertical-align:middle; text-align:center; }

/* Error */
.Error{}
.Error_0{ width:92%; margin:auto auto auto auto; }
.Error_0 li{ margin:0px 0px 6px 0px; }
.Error_1{ font-size:36px; line-height:64px; font-family:'微软雅黑', '黑体'; color:#FF3300; }
.Error_2{ border:1px #CCCCCC solid; padding:6px 6px 6px 6px; }
.Error_3{ width:100%; background-color:#F6F6F6; font-size:12px; color:#999999; font-size:14px; font-family:Arial; }
.Error_3 td{ line-height:24px; }
.Error_4{ width:50px; vertical-align:text-top; }
.Error_5{ text-align:center; line-height:32px; font-family:"Arial"; }
.Error_6 a{ margin:auto 12px auto auto; }
.Error_7{ width:100%; }
.Error_8{ padding:0px 8px 0px 0px; text-align:left; }
.Error_9{ padding:0px 8px 0px 0px; }

.Error_10{}
.Error_11{ width:500px; margin:auto auto auto auto; font-size:24px; line-height:24px; font-family:"微软雅黑", "宋体"; text-align:center; }
.Error_12{ width:500px; margin:auto auto auto auto; text-align:center; color:#999999; }
.Error_13{ width:500px; margin:auto auto auto auto; text-align:center; }

.Error_20{}
.Error_21{ width:600px; margin:0px auto 0px auto; text-align:center; line-height:32px; }

.Error_50{}
.Error_51{ width:400px; margin:0px auto 0px auto; }
.Error_52{ margin:0px 0px 8px 0px; font-size:18px; color:#FF3300; font-family:"微软雅黑", "宋体"; }
.Error_53{ color:#999999; }
.Error_54{ margin:0px 6px 0px 6px; font-size:10px; color:#CCCCCC; }

/* 404 */
.Error_55{ width:80%; max-width:600px; margin:0px auto 0px auto; }
.Error_55 .ALogo{ width:80%; max-width:320px; }
.Error_56{ margin:12px auto 12px auto; padding:12px 0px 12px 0px; background-color:#003399; color:#FFFFFF; font-family:"微软雅黑", "宋体"; font-size:1.6em; line-height:42px; }
.Error_57{}
.Error_58{}
.Error_59{}
.Error_60{}

/* Renew */
.Renew{}
.Renew_Frame{ width:90%; margin:0px auto 0px auto; background-color:#F0F0F0; }
.Renew_TitleA{ width:80%; margin:0px auto 0px auto; font-size:2.4em; font-family:"微软雅黑", "黑体", "宋体"; line-height:42px; color:#FF6600; text-align:center; }
.Renew_TitleB{ width:80%; margin:0px auto 0px auto; font-size:1.2em; color:#666666; line-height:28px; text-align:center; }
.Renew_TitleC{}
.Renew_ContentA{}
.Renew_ContentB{}
.Renew_ContentC{ line-height:42px; text-align:center; }
.Renew_ContentD{ padding:0px 24px 0px 24px; font-weight:100; font-family:"微软雅黑", "黑体", "宋体"; line-height:80px; }
.Renew_ContentE{ padding:0px 24px 0px 24px; font-weight:100; font-family:"微软雅黑", "黑体", "宋体"; }
.Renew_ContentF{ padding:0px 24px 0px 48px; line-height:28px; font-size:14px; color:#666666;  }
.Renew_ContentG{ padding:0px 24px 12px 48px; line-height:28px; font-size:14px; color:#666666; }
.Renew_ContentG .A{ font-weight:700; }
.Renew_ContentG .B{}
.Renew_ContentH{}

@media screen and (max-width:700px){

}

/* Building */
.Building{}
.Building_Box{ width:80%; margin:0px auto 0px auto; }
.Building_Left{ width:25%; float:left; text-align:right; }
.Building_Left img{ width:auto; }
.Building_Right{ width:70%; float:right; margin:0px 0px 0px 12px; padding:18px 0px 0px 0px; line-height:26px; color:#666666; }
.Building_Right img{ width:auto; margin-top:50px; }

@media screen and (max-width:700px){
.Building_Left{ width:100%; text-align:center; }
.Building_Left img{ width:50%; }
.Building_Right{ width:100%; margin:0px 0px 0px 0px; text-align:center; }
.Building_Right img{ width:80%; margin-top:24px; }
}

/* PageButton */
.PageButton{ text-align:center; line-height:32px; }

/* Control */
.ControlError{
	height:24px; border:1px #FF0000 solid; border-right:1px #FF6600 solid; border-bottom:1px #FF6600 solid;
	/*padding:4px 4px 4px 4px;*padding:6px 6px 6px 6px!important;*padding:6px 6px 6px 6px;*/
	padding:0px 4px 0px 4px;*padding:0px 6px 0px 6px!important;*padding:0px 6px 0px 6px;
	font-size:12px; color:#CC0000; background-color:#FFF4EE; font-family:"宋体";
	line-height:24px; *line-height:24px!important; *line-height:26px;
}
.CErrorMessage{
	width:416px;
	height:28px;
	margin:0px 0px 0px 0px;
	padding:0px 8px 0px 8px;
	border:1px #FF6600 solid;
	background-color:#FF6600;
	line-height:28px;
	color:#FFFFFF;
}
.EMessage_0{
	width:416px;
	margin:0px 0px 0px 0px;
	padding:4px 4px 4px 4px;
	border:1px #FF6600 solid;
	background-color:#FF6600;
	color:#FFFFFF;
}
.CErrorMessage_0{
	width:416px;
	margin:0px 0px 0px 0px;
	padding:4px 4px 4px 4px;
	border:1px #FF6600 solid;
	background-color:#FF6600;
	color:#FFFFFF;
}

/* CantSelect */
.CantSelect{ -moz-user-select:none; -khtml-user-select:none; user-select:none; }

/* Check code */
.CCodeP{}
.CCodeP td{}
.CCodeA{}
.CCodeA input{}
.CCodeB{ margin:6px 0px 0px 0px; *margin:0px 0px 0px 0px!important; *margin:0px 0px 0px 0px; }
.CCodeC{}
.CCodeD{ width:78px; height:36px; margin:0px 0px 0px 0px; *margin:-12px 0px 0px 0px!important; *margin:-11px 0px 0px 0px; }
@media all and (min-width: 0px)
{.CCodeD{
	/*
	width:60px;
	height:20px;
	margin-top:2px;
	margin-left:3px;
	margin-right:4px;
	*/
}}


.Button_Single{ width:50%; display:block; margin:12px auto 0px auto; }
.Button_Lit_Blue{ padding:4px 6px 2px 6px; background-color:#036CE0; border:0px; border-bottom:2px #20539F solid; border-radius:2px; box-sizing:border-box; color:#FFFFFF; }
.Button_Lit_Blue:hover{ background-color:#4983DA; }
.Button_Lit_Blue:focus{ background-color:#4983DA; }
.Button_Lit_Gray{ padding:4px 6px 2px 6px; background-color:#BDC3C7; border:0px; border-bottom:2px #A8B3BA solid; border-radius:2px; box-sizing:border-box; color:#FFFFFF; }
.Button_Lit_Gray:hover{ background-color:#A8B3BA; }
.Button_Lit_Gray:focus{ background-color:#A8B3BA; }
.Button_Lit_Red{ padding:4px 6px 2px 6px; background-color:#E74C3C; border:0px; border-bottom:2px #C0392B solid; border-radius:2px; box-sizing:border-box; color:#FFFFFF; }
.Button_Lit_Red:hover{ background-color:#C0392B; }
.Button_Lit_Red:focus{ background-color:#C0392B; }
.Button_Lit_Green{ padding:4px 6px 2px 6px; background-color:#16A085; border:0px; border-bottom:2px #1ABC9C solid; border-radius:2px; box-sizing:border-box; color:#FFFFFF; }
.Button_Lit_Green:hover{ background-color:#1ABC9C; }
.Button_Lit_Green:focus{ background-color:#1ABC9C; }
.Button_Lit_Yellow{ padding:4px 6px 2px 6px; background-color:#F39C12; border:0px; border-bottom:2px #F1C40F solid; border-radius:2px; box-sizing:border-box; color:#FFFFFF; }
.Button_Lit_Yellow:hover{ background-color:#F1C40F; }
.Button_Lit_Yellow:focus{ background-color:#F1C40F; }



.Home_Main_Cell_img{ border-radius:22px; box-sizing:border-box; }
.Home_Main_Cell_img:hover{ box-shadow: 1px 1px 6px #FF6D3B;
animation: micon_hover 2s;
-moz-animation: micon_hover 2s; /* Firefox */
-webkit-animation: micon_hover 2s; /* Safari 和 Chrome */
-o-animation: micon_hover 2s; /* Opera */
}
@keyframes micon_hover{
from{ box-shadow: 1px 1px 1px #FFFFFF; }
to{ box-shadow: 1px 1px 6px #FF6D3B; }
}
/* Firefox */
@-moz-keyframes micon_hover {
from{ box-shadow: 1px 1px 1px #FFFFFF; }
to{ box-shadow: 1px 1px 6px #FF6D3B; }
}
/* Safari 和 Chrome */
@-webkit-keyframes micon_hover{
from{ box-shadow: 1px 1px 1px #FFFFFF; }
to{ box-shadow: 1px 1px 6px #FF6D3B; }
}
/* Opera */
@-o-keyframes micon_hover {
from{ box-shadow: 1px 1px 1px #FFFFFF; }
to{ box-shadow: 1px 1px 6px #FF6D3B; }
}

